*.pyc
.waf*
*.swp
*.orig
_build_/*
*~
\#*\#
.\#*
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
data/org.freedesktop.Telepathy.ConnectionManager.butterfly.service
/install-sh
/missing
/py-compile
/INSTALL